<form [formGroup]="resetPasswordForm">
    <div *ngIf="!userId">
      <label for="userName">Enter Username:</label>
      <input type="text" id="userName" formControlName="userName">
      <button type="button" (click)="checkUser()">Check User</button>
      <p *ngIf="userNotFound" style="color: red;">User not found!</p>
    </div>
  
    <div *ngIf="userId">
      <label for="password">Enter New Password:</label>
      <input type="password" id="password" formControlName="password">
      <button type="button" (click)="onSubmit()">Change Password</button>
    </div>
</form>
  