.container{
  background-color: #1b2531;
  height: 85vh;
  display: flex;
}

.register-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  mat-card-title {
    font-size: 24px;
    color: #1c4687;
    margin-bottom: 20px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }

  button {
    margin-top: 10px;
  }