<div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="userName">User Id:</label>
            <input type="text" id="userName" class="form-control" formControlName="userName" />
            <div *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched" class="error">
                <span *ngIf="loginForm.get('userName')?.errors?.['required']">User Name is required.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" formControlName="password" />
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                Password is incorrect
            </div>
        </div>
        <a routerLink="/forgetpassword">Forget Password?</a>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>